* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  max-width: 600px;
  background-image: url('/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  font-size: 1.125rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.header {
  padding: 2rem 2rem 0;
}

.header__title {
  text-align: center;
  font-size: 2rem;
}

.main {
  padding: 1rem 2rem;
}

.main__subtitle {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.main__text {
  margin-bottom: 1rem;
}

.main__link {
  color: #1a73e8;
  text-decoration: none;
}

.main__link:hover {
  text-decoration: underline;
}

.main__invite-image {
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.main__details {
  display: flex;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 1rem 2rem;
  border-top: 1px solid #8b8b8b;
}
